{% extends 'base.html' %}

{% load static %}

{% block 'main' %}
<script>
  function checkpassword()
  {
    if(document.signup.pwd.value!=document.signup.cpwd.value)
    {
      alert('Password and Repeat Password field does not match');
      document.signup.cpwd.focus();
      return false;

    }
      return true;
  }
</script>
<div class="row mt-5 border border-black mx-auto p-2" style="width: 450px; height:250px;">

  <div class="card-body">
    <h5 class="p-2 text-danger" style="border-bottom: 2px solid orange">Login</h5> 
    <div class="container-fluid">
      <form method="POST" name="signup" onsubmit="return checkpassword()">
        {% csrf_token %}
        <table>
            {{loginform}}

            <tr>
                <td>{{x.label_tag}}</td>
                <td>{{x}}</td>
            </tr>
            
            
            <td><input class="btn btn-success mt-3 ms-3" type="submit" value="login"></td><br>
        </table>

      </form>
    </div>
  </div>
</div>
</div>


{% endblock 'main' %}